<a href="https://colab.research.google.com/github/Buzhynskaya-Daria/LESSON-04.-Sets-Tuples-Booleans-Dictionaries/blob/main/Copy_of_%F0%9F%A7%AA_Lab_Ladder_Part_4_Sets%2C_Tuples%2C_Booleans%2C_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

# **Python Ladder Challenges - Sets, Tuples, Booleans, & Dictionaries**

# Climb the Ladder!
Welcome to Part 4 of our ladder! Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Sets

34) Create a set named `fruit_set` containing "apple", "banana", and "cherry".

In [ ]:
fruit_set = {"apple", "banana", "cherry"}

35) Add "orange" to `fruit_set`.

In [13]:
fruit_set.add("orange")
print(fruit_set)

{'orange', 'cherry', 'apple'}

36) Remove "banana" from `fruit_set`.

In [15]:
fruit_set = {"apple", "banana", "cherry"}
fruit_set.remove("banana")
print(fruit_set)

{'cherry', 'apple'}

37) Check if "grape" is in `fruit_set`. HINT: Use the `in` keyword.

In [16]:
fruit_set = {"apple", "banana", "cherry"}
if "grape" in fruit_set:
    print("Grape is in the set")
else:
    print("Grape is not in the set")

Grape is not in the set

38) Create a new set `veggie_set` with "carrot" and "potato". Form a union of `fruit_set` and `veggie_set`.

In [17]:
fruit_set = {"apple", "banana", "cherry"}
veggie_set = {"carrot", "potato"}
union_set = fruit_set.union(veggie_set)
print(union_set)

{'carrot', 'cherry', 'apple', 'banana', 'potato'}

# Section V: Tuples

39) Create a tuple `full_name` containing your first name and last name.

In [18]:
full_name = ("John", "Doe")
print(full_name)

('John', 'Doe')

40) Access the first name from the `full_name` tuple.

In [19]:
full_name = ("John", "Doe")
first_name = full_name[0]
print(first_name)

John

41) Access the last name using negative indexing.

In [22]:
last_name = full_name[-1]
print(last_name)

Doe

# Section VI: Booleans

42) Evaluate if 100 is greater than 50 and store the result in a boolean variable.

In [23]:
evaluation = 100 > 50
print(evaluation)

True

43) Use a boolean to check if "apple" is in fruit_set.

In [24]:
fruit_set = {"apple", "banana", "cherry"}
if "apple" in fruit_set:
    print("Apple is in the set")
else:
    print("Apple is not in the set")

Apple is in the set

44) Compare whether the length of `fruit_set` is greater than `veggie_set`.

In [25]:
fruit_set = {"apple", "banana", "cherry"}
veggie_set = {"carrot", "potato"}
if len(fruit_set) > len(veggie_set):
    print("Fruit set is greater than veggie set")

Fruit set is greater than veggie set

45) Determine if both elements "carrot" and "potato" are in `veggie_set`.

In [26]:
veggie_set = {"carrot", "potato"}
if "carrot" in veggie_set and "potato" in veggie_set:
    print("Both elements are in the set")

Both elements are in the set

46) Check if either "banana" or "orange" is in `fruit_set`.

In [27]:
fruit_set = {"apple", "banana", "cherry"}
if "banana" in fruit_set or "orange" in fruit_set:
    print("Either banana or orange is in the set")

Either banana or orange is in the set

# Section VII: Dictionaries

47) Create a dictionary `student_scores` with keys as student names and values as their scores. Alice, Bob, and Clark will be the student names you should use. You may pick the score you would like to give each.

In [28]:
student_scores = {
    "Alice": 85,
    "Bob": 92,
    "Clark": 78
}
print(student_scores)

{'Alice': 85, 'Bob': 92, 'Clark': 78}

48) Add a new student "John" with a score of 88 to `student_scores`.

In [29]:
student_scores["John"] = 88
print(student_scores)

{'Alice': 85, 'Bob': 92, 'Clark': 78, 'John': 88}

49) Retrieve the score for a student "Alice" from `student_scores`.

In [30]:
retrieve_score = student_scores["Alice"]
print(retrieve_score)

85

50) Remove a student "Bob" from `student_scores` and print the updated dictionary.

In [31]:
remove_student = student_scores.pop("Bob")
print(student_scores)

{'Alice': 85, 'Clark': 78, 'John': 88}

51) Create a dictionary called `my_favorites` with the following keys:


* `name`
* `favorite_movie`
* `favorite_band`
* `favorite_tv_show`

Make sure to fill the keys in with whatever's true for you!

In [32]:
my_favorites = {
    "name": "John Doe",
    "favorite_movie": "The Shawshank Redemption",
    "favorite_band": "The Beatles",
    "favorite_tv_show": "Game of Thrones"
}
print(my_favorites)

{'name': 'John Doe', 'favorite_movie': 'The Shawshank Redemption', 'favorite_band': 'The Beatles', 'favorite_tv_show': 'Game of Thrones'}