<a href="https://colab.research.google.com/github/Buzhynskaya-Daria/LESSON-04.-Sets-Tuples-Booleans-Dictionaries/blob/main/Copy_of_%F0%9F%93%9A_Lesson_Sets%2C_Tuples%2C_Booleans%2C_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

#  **Sets, Tuples, Booleans, & Dictionaries**

*Be sure to be following along with the lesson page before progressing in this notebook!*

## **üõù¬†Practice Playground** - Section 1
Sets in Python are collections that are both unordered and unindexed, defined with curly braces `{}`. They are particularly useful for storing unique items and are optimized for operations that require ensuring element uniqueness, such as membership checks, removing duplicates, and performing mathematical set operations like unions and intersections.

While sets are powerful tools, they are not always the go-to data structure for data analysis tasks where the order of elements can be crucial or when data manipulation involving indices is required. In such cases, lists or dictionaries might be more appropriate.

In [1]:
# Run this cell!

my_set = {1, 2, 3, "apple", "banana"}

In [2]:
# Run this cell!

my_set.add("orange")
my_set

{1, 2, 3, 'apple', 'banana', 'orange'}

In [3]:
# Run this cell!

my_set.update([4, 5, "grape"])
my_set

{1, 2, 3, 4, 5, 'apple', 'banana', 'grape', 'orange'}

In [4]:
# Run this cell!

my_set.discard("banana")
my_set

{1, 2, 3, 4, 5, 'apple', 'grape', 'orange'}

In [5]:
# Run this cell!

# Raises an error if 'apple' is not found

my_set.remove("apple")
my_set

{1, 2, 3, 4, 5, 'grape', 'orange'}

In [6]:
# Run this cell!

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [7]:
# Run this cell!

set_a | set_b

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# Run this cell!

set_a & set_b

{4, 5}

In [9]:
# Run this cell!

set_a - set_b

{1, 2, 3}

In [10]:
# Run this cell!

set_a ^ set_b

{1, 2, 3, 6, 7, 8}

## **üõù¬†Practice Playground** - Section 2
Tuples are similar to lists in Python but are immutable, meaning once they are created, their elements cannot be changed, added, or removed. This characteristic makes tuples a reliable data structure for storing a sequence of items that should not be modified.

In [11]:
# Run this cell!

dimensions = (100, 200)
width, height = dimensions
print("Width:", width)
print("Height:", height)

Width: 100
Height: 200

In [12]:
# Run this cell!

colors = ("red", "green", "blue")
colors[0]

'red'

In [13]:
# Run this cell!

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

---

## **üõù¬†Practice Playground** - Section 3
Booleans are crucial for implementing logic in programs. They are the backbone of conditional statements and loops, which are used to execute code based on whether conditions are true or false.

In [14]:
# Run this cell!

a = 5
b = 10

result = a < b

result

True

In [15]:
# Run this cell!

is_student = True
if is_student:
    print("Eligible for student discount.")
else:
    print("Not eligible for discount.")

Eligible for student discount.

In [16]:
# Run this cell!

age = 20
has_ticket = True
if age >= 18 and has_ticket:
    print("Allowed entry")
else:
    print("Entry denied")

Allowed entry

In [17]:
# Run this cell!

age = 16
has_ticket = True
if age >= 18 and has_ticket:
    print("Allowed entry")
else:
    print("Entry denied")

Entry denied

## **üõù¬†Practice Playground** - Section 4

Dictionaries are incredibly versatile data structures in Python that store data in key-value pairs. This allows for efficient data retrieval by key, rather than by index as in lists or tuples.

In [20]:
# Run this cell!

person = {
  "first_name": "John",
  "last_name": "Doe",
  "age": 30
}

{'first_name': 'John', 'last_name': 'Doe', 'age': 30}

In [21]:
# Run this cell!

# This will raise a key error!

person[0]

KeyError: 0

In [38]:
# Run this cell!

person["profession"] = "Engineer"

In [39]:
# Run this cell!
person

{'first_name': 'John', 'last_name': 'Doe', 'age': 31, 'profession': 'Engineer'}

In [40]:
# Run this cell!

person["age"] = 31

In [41]:
# Run this cell!

person

{'first_name': 'John', 'last_name': 'Doe', 'age': 31, 'profession': 'Engineer'}

In [42]:
# Run this cell!

del person["age"]

In [43]:
# Run this cell!

person

{'first_name': 'John', 'last_name': 'Doe', 'profession': 'Engineer'}

In [44]:
# Run this cell!

vehicle_info = {
    "make": "Toyota",
    "model": "Corolla",
    "year": 2021
}

In [45]:
# Run this cell!

vehicle_info.keys()

dict_keys(['make', 'model', 'year'])

In [46]:
# Run this cell!

vehicle_info.values()

dict_values(['Toyota', 'Corolla', 2021])

In [47]:
# Run this cell!

vehicle_info.items()

dict_items([('make', 'Toyota'), ('model', 'Corolla'), ('year', 2021)])

In [58]:
# Run this cell!

# Dictionary to store product prices
product_prices = {
  "Crunchwrap": 3.49,
  "Burrito": 2.99,
  "Baja Blast": 1.99
}

# Calculate total cost of one Crunchwrap and two Burritos
total_cost = product_prices["Crunchwrap"] + product_prices["Burrito"] * 2
print(f"Total cost: ${total_cost:.2f}")

Total cost: $9.47

In [49]:
# Run this cell!

authors = {
    "J.R.R. Tolkien": {
        "genre": "fantasy",
        "books": [
            "The Fellowship of the Ring",
            "The Two Towers",
            "The Return of the King"
        ],
        "active": False
    },
    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    "Frank Herbert": {
        "genre": "science fiction",
        "books": ["Dune"],
        "phone": None,
        "active": False
    }
}

In [50]:
# Run this cell!

authors

{'J.R.R. Tolkien': {'genre': 'fantasy',
  'books': ['The Fellowship of the Ring',
   'The Two Towers',
   'The Return of the King'],
  'active': False},
 'Brandon Sanderson': {'genre': 'fantasy',
  'books': ['The Way of Kings', 'Words of Radiance', 'Oathbringer'],
  'active': True,
  'phone': {'home': '(281) 330-8004', 'work': '(877) CASH-NOW'}},
 'Frank Herbert': {'genre': 'science fiction',
  'books': ['Dune'],
  'phone': None,
  'active': False}}

In [51]:
# Run this cell!

authors["J.R.R. Tolkien"]

{'genre': 'fantasy',
 'books': ['The Fellowship of the Ring',
  'The Two Towers',
  'The Return of the King'],
 'active': False}

In [52]:
# Run this cell!

authors["J.R.R. Tolkien"]["books"]

['The Fellowship of the Ring', 'The Two Towers', 'The Return of the King']

In [53]:
# Run this cell!

authors["J.R.R. Tolkien"]["books"][1]

'The Two Towers'

In [54]:
# Run this cell!

authors

{'J.R.R. Tolkien': {'genre': 'fantasy',
  'books': ['The Fellowship of the Ring',
   'The Two Towers',
   'The Return of the King'],
  'active': False},
 'Brandon Sanderson': {'genre': 'fantasy',
  'books': ['The Way of Kings', 'Words of Radiance', 'Oathbringer'],
  'active': True,
  'phone': {'home': '(281) 330-8004', 'work': '(877) CASH-NOW'}},
 'Frank Herbert': {'genre': 'science fiction',
  'books': ['Dune'],
  'phone': None,
  'active': False}}

In [55]:
# Run this cell!

authors["Brandon Sanderson"]

{'genre': 'fantasy',
 'books': ['The Way of Kings', 'Words of Radiance', 'Oathbringer'],
 'active': True,
 'phone': {'home': '(281) 330-8004', 'work': '(877) CASH-NOW'}}

In [56]:
# Run this cell!

authors["Brandon Sanderson"]["phone"]

{'home': '(281) 330-8004', 'work': '(877) CASH-NOW'}

In [57]:
# Run this cell!

authors["Brandon Sanderson"]["phone"]["work"]

'(877) CASH-NOW'